<head th:fragment="common_header(title,links,scripts)" xmlns:th="http://www.thymeleaf.org">

    <title th:replace="${title}">The awesome application</title>

    <!-- Common styles and scripts -->
    <link th:href="@{/css/fontawesome/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/css/css/bootstrap-grid.css}" rel="stylesheet">
    <link th:href="@{/css/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/css/bootstrap-grid.min.css}" rel="stylesheet">
    <link th:href="@{/css/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-grid/bootstrap-grid.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/media.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-min.css}" rel="stylesheet">

    <!--/* Per-page placeholder for additional links and scripts */-->
    <th:block th:replace="${links}" />
    <th:block th:replace="${links}" />
</head>